.footerWrap {background: url("../app/Images/footer-bg.webp") no-repeat center; background-size: cover; padding: 4vw 0 1.8vw; position: relative;}
/* .footerWrap::before {content: ''; background: url(../app/Images/footer-before.webp) no-repeat top; width: 100vw; height: auto; } */
.footerWrap .footerWrapcontainer {max-width: 93vw; padding: 0 0.7vw; margin: 0 auto;}
.footerWrap .footerBottom {border-bottom: 2px solid #ffffff2e; padding-bottom: 1vw;}
.footerWrap .footerBottom .row {display: flex;}
.footerWrap .footerBottom .row .footerBottomLeft {flex: 0 0 30.33%; width: 30.33%;}
.footerWrap .footerBottom .row .footerBottomLeft .footerLogoWrap {text-align: center; display: flex; flex-direction: column; align-items: center;}
.footerWrap .footerBottom .row .footerBottomCenter {flex: 0 0 34.33%; width: 34.33%; display: flex; justify-content: space-around; padding-top: 9.8vw;}
.footerWrap .footerBottom .row .footerBottomCenter .footerBottomCenterCol {color: #fff;}
.footerWrap .footerBottom .row .footerBottomCenter .footerBottomCenterCol h3 {font-size: 1.5vw; text-align: center; margin-bottom: 1vw;}
.footerWrap .footerBottom .row .footerBottomCenter .footerBottomCenterCol ul li {list-style: none; text-align: center; margin-bottom: 0.8vw; font-size: 1vw;}
.footerWrap .footerBottom .row .footerBottomCenter .footerBottomCenterCol ul li a {color: #fff; text-decoration: none;}
.footerWrap .footerBottom .row .footerBottomCenter .footerBottomCenterCol ul li a:hover {color: #029ffcf5;}

.footerWrap .footerBottom .row .footerBottomRight {flex: 0 0 35.33%; width: 35.33%; padding-top: 8.5vw; padding-left: 3vw;}
.footerWrap .footerBottom .row .footerBottomRight .newsletterWrap {padding: 1.5vw 2.4vw; background: #444979; border-radius: 11px; text-align: center;}
.footerWrap .footerBottom .row .footerBottomRight .newsletterWrap h3 {color: #fff; font-size: 1.5vw; margin-bottom: 0.7vw;}
.footerWrap .footerBottom .row .footerBottomRight .newsletterWrap p {color: #fff; font-size: 1vw; margin-bottom: 1.4vw;}
.footerWrap .footerBottom .row .footerBottomRight .newsletterWrap form {display: flex; justify-content: center; align-items: flex-start;}
.footerWrap .footerBottom .row .footerBottomRight .newsletterWrap form input {background-color: #7C80A1; height: 3vw; padding: 1vw; border-radius: 0.4vw; width: 17vw; box-shadow: none;
    outline: none; border: 1px solid #ffffff96; color: #fff; margin-right: 4px;}
.footerWrap .footerBottom .row .footerBottomRight .newsletterWrap form input::placeholder {color: #fff;}
.footerWrap .footerBottom .row .footerBottomRight .newsletterWrap form button {height: 3vw; width: 6.5vw; border-radius: 0.3vw; outline: none; box-shadow: none; border: none; font-family: var(--font-heading); background-color: #fff;
font-size: 1vw; position: relative; padding: 0.7vw 1vw; text-align: left; cursor: pointer; transition: all 0.3s ease-in-out;}
.footerWrap .footerBottom .row .footerBottomRight .newsletterWrap form button::after {content: ""; background: url("../app/Images/btn-after.webp") no-repeat; width: 1.4vw; height: 1.2vw; position: absolute; right: 1vw; top: 51%;
    transform: translateY(-50%);}
.footerWrap .footerBottom .row .footerBottomRight .newsletterWrap form button:hover {background-color: #ffffffcf;}
.copyrightText {padding-top: 1.4vw;}
.copyrightText p {text-align: center; color: #ffffffa6;}
.footerWrap .beforeWave {margin-top: -20px;}
.footerWrap .beforeWave img {width: 99vw; height: auto; position: absolute; top: -3vw;}

.footerTopSection {background-color: #029FFC; padding: 3vw 0 5vw; position: relative; margin-top: -2vw;}
.footerTopSection .footerTopbeforeWave img {width: 99vw; height: auto; position: absolute; top: -3vw;  z-index: 99;}
.footerTopSection .footerTopSectionContainer {max-width: 93vw; padding: 0 0.7vw; margin: 0 auto;}
.footerTopSection .footerTopSectionContainer .row {display: flex;}
.footerTopSection .footerTopSectionContainer .row .footerTopCol {flex: 0 0 25%; text-align: center;}
.footerTopSection .footerTopSectionContainer .row .footerTopCol h4 {color: #fff; font-size: 1vw; font-weight: 500; margin-top: 0.5vw;}