* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --font-heading: var(--font-starlight);
}

.heading {
  font-family: var(--font-heading);
}
body{
      font-family: var(--font-starlight), sans-serif; letter-spacing: .08vw; user-select: none;
}